.header{
font-family: 'Montserrat', sans-serif;
text-align: center;
background-image: url(../image/Vector\ Smart\ Object1X.png);
height: auto;
background-repeat: no-repeat;
background-size: cover;
background-color: rgba(0, 0, 0, 0.8);

}


.button_conteiner{
margin-bottom: 113px;
display: block;
justify-content: space-between;
padding-top: 20px;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}

.login_button{
font-size: 14px;
background: 0;
border: 0px solid;
color: #FFFFFF;
width: 91px;
    height: 37px;


}

.sing_button{
    font-size: 14px;
    background: 0;
    padding: 12px, 20px;
    border-radius: 20px;
    width: 91px;
    height: 37px;
    color: #FFFFFF;
    margin-left: 19px;
    border: 2px solid;
    
    
    
    

}

.header_h3{
font-size: 20px;
font-weight: 900;
margin-bottom: 38px;

}


.header_h1{
font-size: 30px;
font-weight: 900;
margin-bottom: 19px;
}


.header_text{
font-family: 'Roboto', sans-serif;
margin-bottom: 18px;
}


.button_partner{
margin-bottom: 130px;
font-size: 14;
background-color: #FF4E50;
width: 281px;
height: 41px;
color: #FFFFFF;
border: 0px solid;
border-radius: 50px;


}

.card_wrapper{
color:#FFFFFF ;
}



@media screen and (min-width: 768px){




}



































