

.footer{
    text-align: center;

    height: auto;
    background-color: #222222;
     

    background-image: url(../image/Map\ Image@1X.png);
    background-repeat: no-repeat;

    background-position: right;
    
}



.services_logo_footer{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 115px;
    

}

.services_text_footer{
    color: #777777;
    font-style: italic;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    margin-bottom: 80px;
    color: #ffffff;

}

.contact {
    text-align: center;
    margin: auto;
    background-color: #222222;
    font-family: 'Montserrat', sans-serif;
    padding-top: 110px;
    background-image: url(../image/map_img.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.contact_title {
    margin-bottom: 23px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;

}

.contact_main_text{
    margin-bottom: 75px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #777777;
    font-size: 14px;
    font-style: italic;
}

.card_contact{
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 210px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.card_text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.input{
    width: 455px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fed136;
    padding-left: 20px;
    height: 50px;
    border-radius: 6px 6px;
    text-transform: uppercase;
    
}

.textarea{
    padding: 20px 20px;
    width: 455px;
    border-radius: 6px 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fed136;
    text-transform: uppercase;
}

.submit{
    margin-bottom: 115px;
    padding: 26px 47px;
    background-color: #fed136;
    border-radius: 6px 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    border: 0
}


















