

.section2{
    position: relative;
    background-color: #FFF;
    text-align: center;
    padding: 0 1rem;
  
    
}


.key_features_conteiner{
   min-width: 275px;
    height: 250px;
    margin-left: 20px;
    margin-bottom: 40px;
    
}

.key_features{
    color: #330CF4;
    margin-top: 55px;
   font-size: 22px;
   font-weight: 800;
   font-family: 'Raleway', sans-serif;
   margin-bottom: 33px;
   margin-right: 25px;
  
   


}



.key_features::after{

    content: "";
    width: 57px;
    height: 1px;
    display: block;
    margin: auto;
    margin-left: 0px;
    position: relative;
    bottom: 14px;
    right: 16px;
   
    background-color: #555;
}





.key_features::before{
    content: "";
    width: 57px;
    height: 1px;
    display: block;
    margin: auto;
    margin-right: 0px;
    position: relative;
    top: 14px;
    left: 16px;
    background-color: #555;

}



.key_features_text{
   font-size: 18px ;
   font-weight: 500 ;
   font-family: 'Open Sans', sans-serif;
   margin-right: 25px;

}

.card_conteiner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.section2_phone{
    display: none;
}



.services_card{
    width: 290px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 45px;
    margin-left: 17px;
}

.card_img{
width: 38px;
height: 32px;
margin-right: 25px;

}


.card_text_wraper{
    width: 269px;
    justify-content: space-between;

}

.card_title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align-last: left;
    color: #000;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.card_text{
    font-size: 17px;
    font-weight: 500;
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}


.phone_key_fetures{
    display: none;
}




@media screen and (min-width: 768px ){

.section2{
min-width: 768px;
height: 900px;
padding: 0 2rem;



}

.key_features_conteiner{
    margin-top: 120px;
    margin: 120px 60px 0 60px;
}


.services_card{
    margin: 0 30px 90px 30px;
}


.phone_key_fetures{
    display: none;
}


.card_title{
    font-weight: 700;
}



.key_features::after{
    margin-left: 120px;
}


.key_features::before{
    margin-right: 120px;
}



}


@media screen and (min-width: 1200px ){

.section2{
    min-width: 1200px;
    
}

.key_features_conteiner{
    margin-left: 49px;
    margin-right: 34px;
 

}

.phone_key_fetures{
    position: absolute;
    right: 50%;
    top: 200px;
    width: 400px;
    height:auto ;
    transform: translateX( 50%);
    display: block;
}

    

.key_features::after{
    margin-left: 360px;
}


.key_features::before{
    margin-right: 360px;
}



}



















